---
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Social - Futami">
	<!-- 1. Platform (Single Button) -->
	<Section title="Platform">
		<Card
			title="Platforms"
			subtitle="Videos, blog, and more"
			icon="video"
			href="/platform"
		/>
	</Section>

	<!-- 2. Communities (Tetap Dipertahankan) -->
	<Section title="Communities">
		<Card
			title="X (Twitter)"
			subtitle="Stalking Vtuber"
			icon="twitter_x" 
			href="https://x.com/futamiid"
		/>
		<Card
			title="Facebook"
			subtitle="More shitpost here!"
			icon="facebook" 
			href="https://facebook.com/futamiid"
		/>
		<Card
			title="Instagram"
			subtitle="My Updates"
			icon="instagram" 
			href="https://instagram.com/futamiid"
		/>
		<Card
			title="Threads"
			subtitle="My Updates"
			icon="threads" 
			href="https://threads.net/@futamiid"
		/>
		<Card
			title="Bluesky"
			subtitle="Futami Bluesky"
			icon="bluesky" 
			href="https://bsky.app/profile/futami.my.id"
		/>
	</Section>

	<!-- 3. Support Me (Gabungan Donate & Affiliate) -->
	<Section title="Support Me" id="support">
		<!-- Affiliate (Sesuai request seperti index home) -->
		<Card 
			title="Affiliate" 
			subtitle="Buy gear and app stuff" 
			icon="cart" 
			href="/donate/affiliate" 
		/>
		
		<!-- Donation Links -->
		<Card
			title="Trakteer"
			subtitle="Rp. 5.000 each (ID Only)"
			icon="trakteer" 
			href="https://trakteer.id/futami"
		/>
		<Card
			title="Saweria"
			subtitle="Min Rp. 5.000 (ID Only)"
			icon="saweria" 
			href="https://saweria.co/futami"
		/>
		<Card
			title="Ko-fi"
			subtitle="Min $3 (All Regions)"
			icon="kofi" 
			href="https://ko-fi.com/futami"
		/>
	</Section>
</Layout>
