---
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Social - Futami">
	<!-- 1. Platform (Single Button) -->
	<Section title="Platform">
		<Card
			title="Platforms"
			subtitle="Videos, shorts, and more"
			icon="video"
			href="/platform"
		/>
		<Card
			title="Futami Blog"
			subtitle="Writing & Thoughts"
			icon="blog"
			href="https://blog.futami.my.id"
		/>
	</Section>

	<!-- 2. Communities (Updated Descriptions) -->
	<Section title="Communities">
		<Card
			title="X (Twitter)"
			subtitle="Cunny moment"
			icon="twitter_x"
			href="https://x.com/futamiid"
		/>
		<Card
			title="Facebook"
			subtitle="The meme archive"
			icon="facebook"
			href="https://facebook.com/futamiid"
		/>
		<Card
			title="Instagram"
			subtitle="Moments & highlights"
			icon="instagram"
			href="https://instagram.com/futamiid"
		/>
		<Card
			title="Threads"
			subtitle="Unfiltered thoughts"
			icon="threads"
			href="https://threads.net/@futamiid"
		/>
		<Card
			title="Bluesky"
			subtitle="Into the blue"
			icon="bluesky"
			href="https://bsky.app/profile/futami.my.id"
		/>
	</Section>

	<!-- 3. Support Me (Gabungan Donate & Affiliate) -->
	<Section title="Support Me" id="support">
		<!-- Affiliate (Sesuai request seperti index home) -->
		<Card
			title="Affiliate"
			subtitle="Buy gear and app stuff"
			icon="cart"
			href="/donate/affiliate"
		/>

		<!-- Donation Links -->
		<Card
			title="Trakteer"
			subtitle="(ID Only) Rp. 5.000 each"
			icon="trakteer"
			href="https://trakteer.id/futami"
		/>
		<Card
			title="Saweria"
			subtitle="(ID Only) Min Rp. 5.000"
			icon="saweria"
			href="https://saweria.co/futami"
		/>
		<Card
			title="Ko-fi"
			subtitle="Min $3"
			icon="kofi"
			href="https://ko-fi.com/futami"
		/>
	</Section>
</Layout>
