---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Blog - Futami" className="container-error">
	<h1 class="container-error__heading">This page currenly not available</h1>
	<p class="container-error__paragraph">
		this session is currently under development, sorry if it's interrupted
	</p>
</Layout>
