---
import Layout from '@lib/components/layout.astro';

// import TilinImage from '@lib/images/tilin.png';
import BigTilin from '@lib/assets/images/big-tilin.png';
import { Image } from 'astro:assets';
---

<Layout title="Futami Website" className="container-error">
	<audio src="/assets/audios/tilin.ogg" id="tilin"></audio>
	<button class="container-error__button" id="play-tilin">
		<Image
			src={BigTilin}
			alt="tilin"
			class="md:w-30 w-24"
			quality={'mid'}
			width={128}
			height={128}
		/>
	</button>
	<!-- <a href="https://www.pixiv.net/en/artworks/95272811" class="block text-sm"
		>source</a
	> -->
	<h1 class="container-error__heading">This page not found</h1>
	<p class="container-error__paragraph">
		<a
			href="https://www.youtube.com/watch?v=HiRaQaxORFw"
			target="_blank"
			rel="noopener noreferrer">Serika</a
		>
		can't find <b>{Astro.url.pathname}</b>
	</p>
</Layout>

<script is:inline>
	document.getElementById('play-tilin').onclick = () => {
		const audio = document.getElementById('tilin');
		audio.volume = 0.35;
		audio.play();
	};
</script>
