---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Futami Website" className="container-error">
	<audio src="/assets/audios/tilin.ogg" id="tilin"></audio>
	<button
		class="container-error__button"
		onclick="document.getElementById('tilin').play()"
	>
		<img src="/assets/images/tilin.webp" alt="tilin" class="md:w-30 w-24" />
	</button>
	<h1 class="container-error__heading">This page not found</h1>
	<p class="container-error__paragraph">
		<a
			href="https://www.youtube.com/watch?v=HiRaQaxORFw"
			target="_blank"
			rel="noopener noreferrer">Serika</a
		>
		can't find <b>{Astro.url.pathname}</b>
	</p>
</Layout>
