---
import Layout from '@layouts/Layout.astro';

// import TilinImage from '@lib/images/tilin.png';
import BigTilin from '@lib/images/big-tilin.png';
import { Image } from 'astro:assets';
---

<Layout title="Futami Website" className="container-error">
	<audio src="/assets/audios/tilin.ogg" id="tilin"></audio>
	<button
		class="container-error__button"
		onclick="document.getElementById('tilin').play()"
	>
		<Image
			src={BigTilin}
			alt="tilin"
			class="md:w-30 w-24"
			quality={'mid'}
			width={128}
			height={128}
		/>
	</button>
	<!-- <a href="https://www.pixiv.net/en/artworks/95272811" class="block text-sm"
		>source</a
	> -->
	<h1 class="container-error__heading">My Server brokk</h1>
	<p class="container-error__paragraph">
		<a
			href="https://www.youtube.com/watch?v=HiRaQaxORFw"
			target="_blank"
			rel="noopener noreferrer">Serika</a
		>
		trying to fix the server
	</p>
</Layout>
