---
export const prerender = false;

import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Navbar from '@components/Navbar.astro';
import NavbarButton from '@components/NavbarButton.astro';
import Card from '@components/Card.astro';
import VideoCard from '@components/VideoCard.astro';
---

<Layout title="Futami Linktree">

	<!-- Navbar / Social Link -->
	<Navbar>
		<NavbarButton 
			label="YouTube Channel" 
			icon="fa-solid fa-video" 
			href="#" 
		/>
		<NavbarButton 
			label="TikTok Account" 
			icon="fa-solid fa-newspaper" 
			href="#" 
		/>
		<NavbarButton 
			label="Community Group" 
			icon="fa-solid fa-user-group" 
			href="#" 
		/>
		<NavbarButton 
			label="Support / Saweria" 
			icon="fa-solid fa-wallet" 
			href="#" 
		/>
	</Navbar>

	<!-- Latest Videos -->
	<Section title="Latest Videos">
		<VideoCard 
			title="KABAR BURUK! Squad Busters..." 
			thumbnail="https://i.ytimg.com/vi/dQw4w9WgXcQ/mqdefault.jpg"
			href="#"
		/>
		<VideoCard 
			title="Review Setup Minimalis 2025" 
			thumbnail="https://i.ytimg.com/vi/jNQXAC9IVRw/mqdefault.jpg"
			href="#"
		/>
		
		<!-- Class panjang diganti jadi btn-action -->
		<a href="#" slot="action" class="btn-action">
			More Videos <i class="fa-solid fa-arrow-right ml-2 text-xs"></i>
		</a>
	</Section>

	<!-- Latest Articles -->
	<Section title="Latest Articles">
		<Card 
			title="Cara Konsisten Ngonten" 
			subtitle="Tips produktivitas creator 2025" 
			icon="fa-solid fa-pen-nib" 
			href="#" 
		/>
		<Card 
			title="Belajar Astro JS" 
			subtitle="Framework modern super cepat" 
			icon="fa-solid fa-code" 
			href="#" 
		/>
		<Card 
			title="Review Setup Desk" 
			subtitle="Upgrade gear budget pelajar" 
			icon="fa-solid fa-microchip" 
			href="#" 
		/>

		<!-- Class panjang diganti jadi btn-action -->
		<a href="#" slot="action" class="btn-action">
			Read Blog <i class="fa-solid fa-arrow-right ml-2 text-xs"></i>
		</a>
	</Section>

	<!-- Platform -->
	<Section title="Platform">
		<Card 
			title="YouTube" 
			subtitle="Futami Channel" 
			icon="fa-brands fa-youtube" 
			href="#" 
		/>
		<Card 
			title="TikTok" 
			subtitle="@Futami" 
			icon="fa-brands fa-tiktok" 
			href="#" 
		/>
		<Card 
			title="Blog" 
			subtitle="Baca Artikel Terbaru" 
			icon="fa-solid fa-newspaper" 
			href="#" 
		/>
		
		<!-- Class panjang diganti jadi btn-action -->
		<a href="#" slot="action" class="btn-action">
			Other Platform <i class="fa-solid fa-arrow-right ml-2 text-xs"></i>
		</a>
	</Section>

	<!-- Support Me / Affiliate -->
	<Section title="Support Me">
		<Card 
			title="Affiliate" 
			subtitle="Rekomendasi Gear & Gadget" 
			icon="fa-solid fa-cart-shopping" 
			href="#" 
		/>
		<Card 
			title="Donasi" 
			subtitle="Dukung via Saweria / Trakteer" 
			icon="fa-solid fa-coins" 
			href="#" 
		/>
	</Section>

</Layout>
