---
export const prerender = false;

import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Navbar from '@components/Navbar.astro';
import NavbarButton from '@components/NavbarButton.astro';
import Card from '@components/Card.astro';
import CardYoutube from '@components/CardYoutube.astro';
import { Icon } from 'astro-icon/components';

// Mengambil data dari API Blog
const response = await fetch('https://blog.futami.my.id/api/latest.json');
const data = await response.json();
// Mengambil hanya 3 data pertama
const latestPosts = data.slice(0, 3);
---

<Layout title="Futami - talk about anything">
	<Navbar>
		<NavbarButton label="Video Content" icon="video" href="/platform" />
		<NavbarButton
			label="Read Blog"
			icon="blog"
			href="https://blog.futami.my.id"
		/>
		<NavbarButton label="Community Group" icon="socials" href="/social" />
		<NavbarButton label="Finantial Support" icon="wallet" href="/donate" />
	</Navbar>

	<Section title="Latest Videos">
		<CardYoutube limit_videos={2} />

		<a
			href="/platform/videos"
			slot="action"
			class="btn-action flex items-center"
		>
			More Videos <Icon name="arrow-right" class="ml-2 h-4 w-4" />
		</a>
	</Section>

	<Section title="From the Blog">
		{
			latestPosts.map((post: any) => (
				<Card
					title={post.title}
					subtitle={post.description}
					icon="article"
					href={post.link}
				/>
			))
		}

		<a
			href="https://blog.futami.my.id"
			slot="action"
			class="btn-action flex items-center"
		>
			Read More <Icon name="arrow-right" class="ml-2 h-4 w-4" />
		</a>
	</Section>

	<Section title="Platform">
		<Card
			title="YouTube"
			subtitle="Main Channel"
			icon="youtube"
			href="https://youtube.com/@futamiid"
		/>
		<Card
			title="TikTok"
			subtitle="Other Official Shorts"
			icon="tiktok"
			href="https://tiktok.com/@futamiid"
		/>
		<Card
			title="Futami Blog"
			subtitle="Writing & Thoughts"
			icon="blog"
			href="https://blog.futami.my.id"
		/>

		<a href="/platform" slot="action" class="btn-action flex items-center">
			Other Platform <Icon name="arrow-right" class="ml-2 h-4 w-4" />
		</a>
	</Section>

	<Section title="Support Me">
		<Card
			title="Affiliate"
			subtitle="Buy gear and app stuff"
			icon="cart"
			href="/donate/affiliate"
		/>
		<Card
			title="Donasi"
			subtitle='Direct "free" money'
			icon="coins"
			href="/donate"
		/>
	</Section>
</Layout>
