---
interface Props {
	title: string;
	subtitle?: string;
	icon?: string;
	href?: string;
}

const { title, subtitle, icon = 'fa-solid fa-link', href = '#' } = Astro.props;

// Cek apakah link eksternal (tidak diawali '/' atau '#')
const isExternal = !href.startsWith('/') && !href.startsWith('#');
---

<a
	href={href}
    target={isExternal ? "_blank" : undefined}
    rel={isExternal ? "noopener noreferrer" : undefined}
	class="group bg-primary-container text-primary-on-container relative flex items-center overflow-hidden rounded-3xl p-4 px-6 transition-transform duration-200 active:scale-95"
>
	<!-- Ripple Overlay -->
	<div
		class="pointer-events-none absolute inset-0 bg-transparent transition-colors duration-200 group-active:bg-white/20"
	>
	</div>

	<div class="z-10 mr-6 w-8 shrink-0 text-center text-2xl">
		<i class={icon}></i>
	</div>
	<div class="z-10 flex flex-col">
		<span class="text-lg leading-tight font-extrabold">{title}</span>
		{
			subtitle && (
				<span class="mt-0.5 text-sm font-medium opacity-80">{subtitle}</span>
			)
		}
	</div>
</a>
