---
interface Props {
	nameGroup: string;
}

const { nameGroup } = Astro.props;
---

<section class="cards-category">
	<h2 class="name-category">{nameGroup}</h2>
	<div class="cards">
		<slot />
	</div>
</section>
