---
interface Props {
	nameGroup?: string;
	footer_name?: string;
	footer_url?: string;
	isIcon?: boolean;
}

const { nameGroup, footer_name, footer_url, isIcon } = Astro.props;
---

<section class="card-container">
	{nameGroup && <h3 class="card-title">{nameGroup}</h3>}

	<div class={'cards ' + (isIcon ? `icons` : '')}><slot /></div>
	{
		footer_name ? (
			<div class="card-footer">
				<a href={footer_url} class="card-footer__button">
					{footer_name}
				</a>
			</div>
		) : (
			''
		)
	}
</section>
