---
/* Komponen ini hanya sebagai wrapper layout */
---

<nav class="bg-surface-container p-4 rounded-4xl flex justify-center gap-4 shadow-sm" aria-label="Social Media Links">
  <!-- Slot ini akan diisi oleh NavbarButton dari index.astro -->
  <slot />
</nav>
