<nav class="flex justify-center">
	<ul class="YTtabs">
		<li
			aria-current={Astro.url.pathname.startsWith('/youtube/futami/') ||
			Astro.url.pathname === '/youtube/'
				? 'page'
				: undefined}
		>
			<a href="/youtube/futami" class="YTtabs-item">Futami</a>
		</li>
		<li
			aria-current={Astro.url.pathname.startsWith('/youtube/futamini')
				? 'page'
				: undefined}
		>
			<a href="/youtube/futamini" class="YTtabs-item">FutaMINI</a>
		</li>
		<li
			aria-current={Astro.url.pathname.startsWith('/youtube/futamicover')
				? 'page'
				: undefined}
		>
			<a href="/youtube/futamicover" class="YTtabs-item">Futami Cover</a>
		</li>
	</ul>
</nav>
