---
import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Navbar from '@components/Navbar.astro';
import NavbarButton from '@components/NavbarButton.astro';
import CardYoutube from '@components/CardYoutube.astro';
---

<Layout title="Latest Videos - Futami">
	<Navbar>
		<NavbarButton label="Platform" icon="content" href="/platform" />
		<NavbarButton label="Videos" icon="video" href="#" />
	</Navbar>

	<Section title="Latest Videos">
		<!-- Menampilkan 15 video terbaru -->
		<CardYoutube limit_videos={15} client:load />
	</Section>
</Layout>
