---
import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Navbar from '@components/Navbar.astro';
import NavbarButton from '@components/NavbarButton.astro';
import Card from '@components/Card.astro';
---

<Layout title="Affiliate Gear - Futami">
	<Navbar>
		<NavbarButton label="Direct Support" icon="coins" href="/donate" />
		<NavbarButton label="Affiliate" icon="cart" href="#" />
	</Navbar>

	<Section title="Shopee">
		<Card
			title="Costa 2 TRRS"
			subtitle="Best Cheap Mic"
			icon="shopee"
			href="https://s.shopee.co.id/9f9IQAEKum"
		/>
		<Card
			title="CCA Polaris"
			subtitle="Balance IEM"
			icon="shopee"
			href="https://s.shopee.co.id/LbdJ7y26L"
		/>
		<Card
			title="Inbex PH3"
			subtitle="Lampu + Topdown stand"
			icon="shopee"
			href="https://s.shopee.co.id/4L7m4Z7Wlc"
		/>
		<Card
			title="Lumos MCN-10"
			subtitle="USB Microphone"
			icon="shopee"
			href="https://s.shopee.co.id/AKQJH5hnyZ"
		/>
	</Section>
</Layout>
