---
import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Navbar from '@components/Navbar.astro';
import NavbarButton from '@components/NavbarButton.astro';
import Card from '@components/Card.astro';
import affiliates from '@data/affiliates.json';
---

<Layout title="Affiliate Gear - Futami">
	<Navbar>
		<NavbarButton label="Direct Support" icon="coins" href="/donate" />
		<NavbarButton label="Affiliate" icon="cart" href="#" />
	</Navbar>

	<Section title="Shopee">
		{
			affiliates.map((item) => (
				<Card
					title={item.nama}
					subtitle={item.deskripsi}
					icon={item.icon_name}
					href={item.url}
				/>
			))
		}
	</Section>
</Layout>
