---
import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Navbar from '@components/Navbar.astro';
import NavbarButton from '@components/NavbarButton.astro';
---

<Layout title="Donate - Futami">
	<!-- In Indonesia (IDR) -->
	<Section title="Direct Donate">
		<!-- Trakteer -->
		<Card
			title="Trakteer"
			subtitle="Rp. 5.000 each (Indonesia Only)"
			href="https://trakteer.id/futami"
			icon="trakteer" 
		/>

		<!-- Saweria -->
		<Card
			title="Saweria"
			subtitle="Min Rp. 5.000 (Indonesia Only)"
			href="https://saweria.co/futami"
			icon="saweria" 
		/>

	<!-- Overseas (US Dollar) -->
		<!-- Ko-fi -->
		<Card
			title="Ko-fi"
			subtitle="$3 each"
			href="https://ko-fi.com/futami"
			icon="kofi"
		/>
	</Section>
</Layout>
