---
import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Navbar from '@components/Navbar.astro';
import NavbarButton from '@components/NavbarButton.astro';
---

<Layout title="Donate - Futami">
	<!-- Navbar (Opsional: Tombol Kembali) -->
	<Navbar>
		<NavbarButton 
			label="Back to Home" 
			icon="fa-solid fa-arrow-left" 
			href="/" 
		/>
	</Navbar>

	<!-- In Indonesia (IDR) -->
	<Section title="In Indonesia (IDR)">
		<!-- Trakteer -->
		<Card
			title="Trakteer"
			subtitle="Rp. 5.000 each (Indonesia Only)"
			href="https://trakteer.id/futami"
			icon="fa-solid fa-ice-cream" 
		/>

		<!-- Saweria -->
		<Card
			title="Saweria"
			subtitle="Min Rp. 5.000 (Indonesia Only)"
			href="https://saweria.co/futami"
			icon="fa-solid fa-wallet" 
		/>
	</Section>

	<!-- Overseas (US Dollar) -->
	<Section title="Overseas (US Dollar)">
		<!-- Ko-fi -->
		<Card
			title="Ko-fi"
			subtitle="$3 each"
			href="https://ko-fi.com/futami"
			icon="fa-solid fa-mug-hot"
		/>
	</Section>
</Layout>
