---
import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Navbar from '@components/Navbar.astro';
import NavbarButton from '@components/NavbarButton.astro';
import donates from '@data/donates.json';
---

<Layout title="Donate - Futami">
	<Navbar>
		<NavbarButton label="Direct Support" icon="coins" href="#" />
		<NavbarButton label="Affiliate" icon="cart" href="/donate/affiliate" />
	</Navbar>

	<Section title="Direct Donate">
		{
			donates.map((item) => (
				<Card
					title={item.nama}
					subtitle={item.deskripsi}
					icon={item.icon_name}
					href={item.url}
				/>
			))
		}
	</Section>
</Layout>
