---
// Logo
import LogoIcon from '@lib/images/logo-icon.svg?raw';
import LogoText from '@lib/images/logo-text.svg?raw';
// Icons
import { Icon } from 'astro-icon/components';
---

<header class="navbar">
	<a href="/" class="navbar-logo" aria-label="Logo Futami">
		<!-- <LogoIcon /><LogoText /> -->
		<Fragment set:html={LogoIcon} />
		<Fragment set:html={LogoText} />
	</a>
	<nav>
		<ul class="navbar-menu">
			<li
				aria-current={Astro.url.pathname.startsWith('/blog')
					? 'page'
					: undefined}
			>
				<a
					href="/blog"
					class="navbar-menu__item"
					aria-label="Blog Page"
					title="Blog Page"
				>
					<Icon name="mdi:newspaper-variant-multiple" />
				</a>
				<li
					aria-current={Astro.url.pathname.startsWith('/youtube')
						? 'page'
						: undefined}
				>
					<a
						href="/youtube/futami"
						class="navbar-menu__item"
						aria-label="Youtube Page"
						title="Youtube Page"
					>
						<Icon name="mdi:youtube" />
					</a>
				</li>
				<li
					aria-current={Astro.url.pathname.startsWith('/social')
						? 'page'
						: undefined}
				>
					<a
						href="/social"
						class="navbar-menu__item"
						aria-label="Sosial Link Page"
						title="Sosial Page"
					>
						<Icon name="solar:users-group-two-rounded-bold" />
					</a>
				</li>
				<li
					aria-current={Astro.url.pathname.startsWith('/donate')
						? 'page'
						: undefined}
				>
					<a
						href="/donate"
						class="navbar-menu__item"
						aria-label="Donate Link Page"
						title="Donate Page"
					>
						<Icon name="bx:bxs-donate-heart" />
					</a>
				</li>
			</li>
		</ul>
	</nav>
</header>
