---
import { Icon } from 'astro-icon/components';
---

<header class="header">
	<nav class="navbar">
		<a href="/" class="navbar-logo logo-en">
			<Icon name="logo/logo-text" />
		</a>
		<a href="/" class="navbar-logo logo-jp">
			<Icon name="logo/logo-japan" />
		</a>
	</nav>
</header>
