---
import Favicon from '@components/Favicon.astro';
import '@lib/styles/app.scss';

import Header from './Header.astro';

interface Props {
	title: string;
	className?: string;
}

const { title, className = '' } = Astro.props;

const isPreview =
	`${import.meta.env.PUBLIC_POKEAPI}`.toLowerCase() == 'true' ? true : false;
---

<script>
	import '@modules/frametrower';

	let baseStyles = ['color: #000', 'background-color:  #FEE440'].join(';');

	console.log(
		`%c ____  __  __  ____   __    __  __  ____      __    __  __  ____ 
( ___)(  )(  )(_  _) /__\\  (  \\/  )(_  _)    /__\\  (  \\/  )(_  _)
 )__)  )(__)(   )(  /(__)\\  )    (  _)(_    /(__)\\  )    (  _)(_ 
(__)  (______) (__)(__)(__)(_/\\/\\_)(____)  (__)(__)(_/\\/\\_)(____)`,
		baseStyles
	);
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Official Futami LINKTREE like website" />
		<meta name="viewport" content="width=device-width" />
		<Favicon />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main class={className}>
			<slot />
		</main>
		<footer>
			{new Date().getFullYear()} &#169;
			<a
				href="https://x.com/futamiyarn"
				target="_blank"
				class="footer-link"
				rel="noopener noreferrer">@FutamiYarn</a
			>
		</footer>
		{
			!isPreview ? (
				''
			) : (
				<div class="fixed bottom-0 w-screen bg-red-dark-primary px-5 py-2 text-center font-heading font-bold">
					This webisite on testing preview only, visit{' '}
					<a
						href="http://futami.my.id"
						target="_blank"
						rel="noopener noreferrer"
						class="text-slate-300"
					>
						stable
					</a>{' '}
					version.
				</div>
			)
		}
	</body>
</html>
