---
import { Icon } from 'astro-icon/components';
import '@styles/main.css';
// Import font internal di sini
import '@styles/poppins.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Futami Linktree Material 3" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Icons -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>

		<title>{title}</title>
	</head>
	<body
		class="bg-surface text-on-surface flex min-h-screen justify-center font-sans antialiased"
	>
		<!-- 
            PERUBAHAN:
            - Mengubah max-w-[480px] menjadi max-w-[420px] agar layout lebih ramping.
        -->
		<main class="mx-auto flex w-full max-w-[420px] flex-col gap-8 p-6">
			<header class="flex flex-col items-center gap-4 text-center">
				<a
					href="/"
					class="inline-flex items-center gap-2 text-4xl font-extrabold tracking-tight transition-transform select-none active:scale-95"
				>
					<Icon name="logo/logo-text" class="text-primary" />
				</a>

				<!-- Garis Pemisah (Divider) -->
				<div class="bg-surface-container-high h-[1px] w-full opacity-50"></div>
			</header>

			<!-- Slot untuk konten halaman -->
			<slot />

			<!-- Footer -->
			<footer
				class="text-primary pt-4 pb-8 text-center text-sm font-bold opacity-80"
			>
				2026 © @Futami
			</footer>
		</main>
	</body>
</html>
