---
interface Props {
	title?: string;
	className?: string;
}

import '@lib/styles/app.scss';

const { title = 'Futami', className = '' } = Astro.props;

import Favicon from '@components/Favicon.astro';
import Header from './Header.astro';
---

<html lang="en" class="dark scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="This is normal linktree Futami Website, please rate 1-10"
		/>
		<meta name="generator" content={Astro.generator} />
		<Favicon />
		<title>{title}</title>
		<!--Scripts-->
		<script is:inline>
			const today = new Date();
			const month = today.getMonth(); // 0-11 (January is 0)
			const day = today.getDate();

			let themeProbability = 0.03; // Default probability

			// Check for April 15-25 or October 15-25
			if (
				(month === 3 && day >= 15 && day <= 25) ||
				(month === 9 && day >= 15 && day <= 25)
			) {
				themeProbability = 0.06;
			}

			// Override for April 20
			if (month === 3 && day === 20) {
				themeProbability = 0.5;
			}

			const randomChange = Math.random();
			const startToStar = randomChange < themeProbability;

			if (startToStar) {
				document.documentElement.classList.add('Start→');
				document.documentElement.classList.add('Star→');
				console.log('おはようございます！');
			}
		</script>

		<script>
			import '@lib/scripts/theme-selector';
			import '@lib/scripts/frametrower';
		</script>
		<!--End Scripts-->
	</head>
	<body>
		<Header />
		<main class={'bg-background-light dark:bg-background-dark ' + className}>
			<slot />
		</main>
		<footer class="footer">
			{new Date().getFullYear()} &#169;
			<a
				href="https://x.com/futamiid"
				target="_blank"
				class="footer-link"
				rel="noopener noreferrer">@Futami</a
			>
		</footer>
	</body>
</html>
