---
// import LogoIcon from '@lib/assets/svg/logo/logo-icon.svg?raw';
import LogoText from '@lib/assets/svg/logo/logo-text.svg?raw';
import LogoJapan from '@lib/assets/svg/logo/logo-japan.svg?raw';
---

<header class="header">
	<nav class="navbar">
		<a href="/" class="navbar-logo logo-en">
			<Fragment set:html={LogoText} />
		</a>
		<a href="/" class="navbar-logo logo-jp">
			<Fragment set:html={LogoJapan} />
		</a>
	</nav>
</header>
